
<form action="/" method="post" class="form">
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input name="text" class="form-control" placeholder="Twitter ID" value="<%= params[:text] %>">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Go!</button>
    </span>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
<% if @message.size > 0 then %>
  <div class="alert alert-danger"><%= @message %></div>
<% end %>
<div id="word_cloud" style="margin-top: 2em;">
</div>
<script>
var width = $(window).width();
var height = width;

var words = [
  <% @words_list.each do |word, size| %>
  {
    text: "<%= word %>",
    size: <%= size %> * 2
  },
  <% end %>
];

var random = d3.random.irwinHall(2);
var colorScale = d3.scale.category20();

d3.layout.cloud().size([width,height])
  .words(words)
  .rotate(function(){ return Math.round(1-random())*90})
  .font("Impact")
  .fontSize(function(d){return d.size;})
  .on("end", draw)
  .start();

function draw(words){
  d3.select("#word_cloud").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .attr("transform", "translate("+[width/2,height/2]+")")
    .selectAll("text")
    .data(words)
    .enter().append("text")
    .style({
      "font-family": "Impact",
      "font-size": function(d){return d.size + "px"},
      "fill": function(d,i){return colorScale(i)}
    })
    .attr({
      "text-anchor": "middle",
      "transform": function(d){
        return "translate(" + [d.x,  d.y] + ") rotate(" + d.rotate + ")"
      }
    })
    .text(function(d){ return d.text });
}
</script>
